/* Styles go here */

select
{
    background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}

md-card-title{
    padding-top:0px !important;
    padding-bottom:0px !important;
}
md-card-content{
    padding-bottom:0px !important;
}

.error_set
{
    border-right: 3px rgba(0, 0, 0, 0.3) solid;
}
.error_number,.error_number_graph
{
    padding:0px !important;
    text-align: center !important;
    color:gray !important;
}
.error_number_graph
{
    color:black !important;
}



.contentdemoBasicUsage div.demo-content {
  height: 450px; }

.contentdemoBasicUsage div[ng-controller] {
  height: 100%;
  padding-bottom: 15px; }

.contentdemoBasicUsage md-content {
  padding: 24px; }

