/* Styles go here */

select
{
    background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}

md-card-title{
    padding-top:0px !important;
    padding-bottom:0px !important;
}
md-card-content{
    padding-bottom:0px !important;
}

.help_message{
    display:block;
    padding:25px;
    text-align: left;
    font-size:small;
}

md-radio-button ._md-container {
top: 0px;
transform: translateY(0);
}

/***************Error table styles********************/
.error_set
{
    border-right: 3px rgba(0, 0, 0, 0.3) solid;
}
.error_number
{
    padding:3px 2px 3px 2px !important;
    text-align: right !important;
    color:gray !important;
    font-size:medium!important;
}
.error_number_graph
{
    padding:3px 2px 3px 2px !important;
    text-align: right !important;
    font-size:medium!important;
}

.table_method_title{
    text-align: center;
    border-top:1px solid;
    border-bottom:1px solid;
    font-weight: normal;
}
.table_error_title{
    text-align: center;
    border-top:1px solid;
}

.dataset_title{
    border-right:1px rgba(0,0,0,.12) solid;
}

.separator_cell{
    padding-right: 3px !important;
    border-right: 3px rgba(0,0,0,.12) solid;
}

.table_style
{
    padding:0;
    max-width: 1000px;
    margin:auto;
    margin-top:80px
}
/***************Error table styles********************/

.flecha
{
    background:url(../img/icons/right.png) center center no-repeat;
    background-size: 40%;
}

.contentdemoBasicUsage div.demo-content {
  height: 450px; }

.contentdemoBasicUsage div[ng-controller] {
  height: 100%;
  padding-bottom: 15px; }

.contentdemoBasicUsage md-content {
  padding: 24px; }

